.App{
  position: relative;
}
.Navigation .navbar{
  background-color: lightblue;
  
  top:0;
}

.Navigation {
  position :sticky;
  z-index: 1020;
  top:0.1px;
}


.introduction{
  text-align: center;
  background-color: lightgreen;
  min-height: 80em;
  padding :5em;
  justify-content: center;

}

.intro-group{
  max-width:;
  
}

.introBox{
  background-color: white;
  padding:1em;
  min-height: 3em;
  flex-wrap : wrap;
}

.intro-img{

}

.intro-content{
  width:;
}

.detailBox{
  background-color: lightcoral;
  
  margin-top : -5em;
  padding-top :5em;
}

.card-box{
  max-width:100em;
  margin : 2em;
  box-shadow: 5px 5px 20px;
}

.stackBox{
  display: flex;
  align-items: center;
  flex-direction: column;
  min-height: 100em;
}

.Project{
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: lightseagreen;
  margin-top : -5em;
  padding-top :5em;
}

.Project .card{
  margin:1em;
  
}